<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645971101191-a9662mutft2cqaabh94eakc71lgc84mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645971101191-a9662mutft2cqaabh94eakc71lgc84mj</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Hn0jS3qarLQIOsKPi44XQyBitDoymJo</string>
	<key>GCM_SENDER_ID</key>
	<string>645971101191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apps.Agenda</string>
	<key>PROJECT_ID</key>
	<string>agenda-notification-330d8</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-notification-330d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645971101191:ios:3a82ab99e7b09c9e8acca2</string>
</dict>
</plist>